body, html {
 height: 100%;   
}
.container{
    position: reletive;
    width: 300px;
    height: 300px;
    margin:auto;
}

#logo {
    position: absolute;
    width: 300px;
    height: 300px;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin: auto;
}
.wrappert {
 height: 100%; 
 position: fixed;
 width: 100%;
display: table;    
}
.wrapper {
    height: 100%;
    vertical-align: middle;
    display: table-cell;
    text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100&display=swap');


.text {
  font-family: 'Sora', sans-serif;
  text-align: center;
  font-size: 30px;
  line-height: 2.5;
  background-color: white;
  color: #262626;
  margin-top: calc(100% - 30px);
  margin-left: 25%;
  margin-right: 25%;
  z-index: 5;
  position: relative
}