@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100&display=swap');

header {
  position: relative;
}

#scrolldownnotify {
  font-family: 'Sora', sans-serif;
  margin-left: 10px;
  margin-top: 20px;
}

.img {
  position: fixed;
  z-index: -5;
  top: calc(50% - 250px);
  left: calc(50% - 250px);
}

#requestLink {
  color: #FF88CC;
  text-decoration: none;
  transition-duration: 0.2s;
}

#homeclick {
  cursor: default;
}

.text {
  font-family: 'Sora', sans-serif;
  text-align: center;
  font-size: 30px;
  line-height: 2.5;
  background-color: white;
  color: #262626;
  margin-top: calc(100% - 30px);
  margin-left: 25%;
  margin-right: 25%;
  z-index: 5;
  position: relative
}

#links {
  text-align: center;
  margin-bottom: 30px;
}

.footLinks {
  margin: 10px;
}

#portfolio {
  position: relative;
  text-align: center;
  margin-top: 30px;
}

.portfolio {
  margin: 10px;
  border-radius: 10px;
}

video {
  margin: 10px;
  border-radius: 10px;
}

.homeLink {
  position: relative;
  margin-top: 30px;
  margin-bottom: 20px;
}

h1 {
  font-family: 'Sora', sans-serif;
  color: #262626;
}

#request {
  text-align: center;
}

#socials {
  text-align: center;
}

iframe {
  margin-top: 50px;
}

#sociallinks {
  position: relative;
  margin-top: 20%;
}